html, body {
	width: 100%;
	height: 100%;
	font-family: 'sans-serif';
	margin: 0 auto;
	background-color: #faf9fe;
}

.auto-fill-background-text {
  background: linear-gradient(90deg, #ffffff 0%, #aaaaaa 100%);
  background-size: 200% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fillAnimation 3s linear infinite;
}

@keyframes fillAnimation {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0 0;
  }
}